n8n-workflows/03-message-queue-example.json
{
  "name": "WhatsApp Message Queue (Advanced)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Queue Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 200],
      "webhookId": "whatsapp-send",
      "notes": "Receives messages to queue for sending"
    },
    {
      "parameters": {
        "jsCode": "// Store message in a persistent queue\n// In production, use a database or Redis\n\nconst message = $input.item.json;\n\n// For this example, we'll use n8n's static data\n// In real use: store in PostgreSQL, Redis, or file\n\nconst queuedMessage = {\n  id: 'msg-' + Date.now(),\n  to: message.to,\n  body: message.body,\n  queuedAt: new Date().toISOString(),\n  sent: false\n};\n\nconsole.log('[Queue] Added message:', queuedMessage.id);\n\nreturn { json: queuedMessage };"
      },
      "name": "Queue Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [475, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Respond - Queued",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 200]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "whatsapp-outgoing-poll",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Poll",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 400],
      "webhookId": "whatsapp-poll-advanced"
    },
    {
      "parameters": {
        "jsCode": "// Fetch pending messages from queue\n// In production: SELECT * FROM messages WHERE sent = false\n\n// Example static queue (replace with database query)\nconst pendingMessages = [\n  // Your database would return messages here\n];\n\nreturn {\n  json: {\n    messages: pendingMessages\n  }\n};"
      },
      "name": "Fetch from Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [475, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Respond - Messages",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 400]
    }
  ],
  "connections": {
    "Webhook - Queue Message": {
      "main": [
        [
          {
            "node": "Queue Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Message": {
      "main": [
        [
          {
            "node": "Respond - Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Poll": {
      "main": [
        [
          {
            "node": "Fetch from Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch from Queue": {
      "main": [
        [
          {
            "node": "Respond - Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
