n8n-workflows/08-send-whatsapp-test.json
{
  "name": "WhatsApp - Send Test Message",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-send-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [200, 300],
      "id": "webhook-test",
      "name": "Webhook - Test Send"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flow.advery.one/webhook/whatsapp-queue",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.body.to }}"
            },
            {
              "name": "body",
              "value": "={{ $json.body.message || $json.body.body }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300],
      "id": "queue-via-http",
      "name": "Queue via HTTP"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [600, 300],
      "id": "respond",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook - Test Send": {
      "main": [
        [
          {
            "node": "Queue via HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue via HTTP": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
