n8n-workflows/10-poll-with-media.json
{
  "name": "Pocketmoney - WhatsApp - Outgoing (with Media)",
  "nodes": [
    {
      "parameters": {
        "path": "26e44e86-fe88-46e0-b06a-63d8b290ce68",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook-poll",
      "name": "Webhook - Poll"
    },
    {
      "parameters": {
        "fileSelector": "/tmp/whatsapp-queue.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [200, 0],
      "id": "read-queue",
      "name": "Read Queue File",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse queue and prepare response WITH MEDIA SUPPORT\nlet pendingMessages = [];\n\nconst fileInput = $('Read Queue File').first();\n\nif (fileInput && fileInput.json && fileInput.binary && fileInput.binary.data) {\n  try {\n    const fileContent = fileInput.binary.data.data;\n    let bufferObj = Buffer.from(fileContent, 'base64');\n    const queue = JSON.parse(bufferObj.toString('utf8'));\n    \n    if (Array.isArray(queue)) {\n      // Filter pending messages and format for bridge\n      pendingMessages = queue\n        .filter(msg => msg.status === 'pending')\n        .map(msg => {\n          const msgData = {\n            to: msg.to,\n            body: msg.body,\n            id: msg.id\n          };\n          \n          // IMPORTANT: Include media if present\n          if (msg.media && msg.media.data && msg.media.mimetype) {\n            msgData.media = {\n              data: msg.media.data,\n              mimetype: msg.media.mimetype,\n              filename: msg.media.filename || 'file'\n            };\n          }\n          \n          return msgData;\n        });\n      \n      if (pendingMessages.length > 0) {\n        const mediaCount = pendingMessages.filter(m => m.media).length;\n        console.log(`[Poll] Returning ${pendingMessages.length} message(s), ${mediaCount} with media`);\n      }\n    }\n  } catch (err) {\n    console.error('[Poll] Failed to parse queue:', err.message);\n  }\n} else {\n  console.log('[Poll] Queue file empty or not found');\n}\n\nconst emptyQueueBase64 = Buffer.from(JSON.stringify([])).toString('base64');\n\n// Return empty queue data to clear file\nreturn {\n  json: {\n    messages: pendingMessages,\n    shouldClear: pendingMessages.length > 0,\n    clearedData: JSON.stringify([])\n  },\n  binary: {\n    data: {\n      data: emptyQueueBase64,\n      mimeType: 'application/json',\n      fileName: 'whatsapp-queue.json'\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0],
      "id": "parse-return",
      "name": "Parse & Return Messages"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-clear",
              "leftValue": "={{ $json.shouldClear }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 0],
      "id": "check-clear",
      "name": "Should Clear?"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/whatsapp-queue.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [800, -100],
      "id": "clear-queue",
      "name": "Clear Queue File"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { messages: $json.messages } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1000, 0],
      "id": "respond",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook - Poll": {
      "main": [
        [
          {
            "node": "Read Queue File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Queue File": {
      "main": [
        [
          {
            "node": "Parse & Return Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Return Messages": {
      "main": [
        [
          {
            "node": "Should Clear?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Clear?": {
      "main": [
        [
          {
            "node": "Clear Queue File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Queue File": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
