n8n-workflows/11-whatsapp-web-form.json
{
  "name": "WhatsApp Web Form",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp-send-ui",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook",
      "name": "Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-get",
              "leftValue": "={{ $json.headers['x-request-method'] || $json.method }}",
              "rightValue": "GET",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [200, 0],
      "id": "check-method",
      "name": "GET or POST?"
    },
    {
      "parameters": {
        "jsCode": "// Return HTML form for sending WhatsApp messages\nconst html = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Send WhatsApp Message</title>\n    <style>\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            min-height: 100vh;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            padding: 20px;\n        }\n        .container {\n            background: white;\n            border-radius: 20px;\n            box-shadow: 0 20px 60px rgba(0,0,0,0.3);\n            padding: 40px;\n            max-width: 500px;\n            width: 100%;\n        }\n        h1 {\n            color: #333;\n            margin-bottom: 10px;\n            font-size: 28px;\n        }\n        .subtitle {\n            color: #666;\n            margin-bottom: 30px;\n            font-size: 14px;\n        }\n        .form-group {\n            margin-bottom: 20px;\n        }\n        label {\n            display: block;\n            color: #555;\n            font-weight: 600;\n            margin-bottom: 8px;\n            font-size: 14px;\n        }\n        input, textarea {\n            width: 100%;\n            padding: 12px 16px;\n            border: 2px solid #e0e0e0;\n            border-radius: 10px;\n            font-size: 16px;\n            transition: border-color 0.3s;\n            font-family: inherit;\n        }\n        input:focus, textarea:focus {\n            outline: none;\n            border-color: #667eea;\n        }\n        textarea {\n            resize: vertical;\n            min-height: 120px;\n        }\n        button {\n            width: 100%;\n            padding: 14px;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            border: none;\n            border-radius: 10px;\n            font-size: 16px;\n            font-weight: 600;\n            cursor: pointer;\n            transition: transform 0.2s, box-shadow 0.2s;\n        }\n        button:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 10px 25px rgba(102, 126, 234, 0.4);\n        }\n        button:active {\n            transform: translateY(0);\n        }\n        .response {\n            margin-top: 20px;\n            padding: 16px;\n            border-radius: 10px;\n            display: none;\n        }\n        .response.success {\n            background: #d4edda;\n            color: #155724;\n            border: 1px solid #c3e6cb;\n        }\n        .response.error {\n            background: #f8d7da;\n            color: #721c24;\n            border: 1px solid #f5c6cb;\n        }\n        .emoji {\n            font-size: 48px;\n            text-align: center;\n            margin-bottom: 20px;\n        }\n        .hint {\n            font-size: 12px;\n            color: #999;\n            margin-top: 6px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"emoji\">💬</div>\n        <h1>Send WhatsApp Message</h1>\n        <p class=\"subtitle\">Queue a message to be sent via WhatsApp</p>\n        \n        <form id=\"messageForm\">\n            <div class=\"form-group\">\n                <label for=\"phone\">Phone Number</label>\n                <input \n                    type=\"tel\" \n                    id=\"phone\" \n                    name=\"to\" \n                    placeholder=\"+49 1578 3160603\" \n                    required\n                >\n                <div class=\"hint\">Include country code (e.g., +49 for Germany)</div>\n            </div>\n            \n            <div class=\"form-group\">\n                <label for=\"message\">Message</label>\n                <textarea \n                    id=\"message\" \n                    name=\"body\" \n                    placeholder=\"Type your message here...\" \n                    required\n                ></textarea>\n            </div>\n            \n            <button type=\"submit\">📤 Send Message</button>\n        </form>\n        \n        <div class=\"response\" id=\"response\"></div>\n    </div>\n    \n    <script>\n        const form = document.getElementById('messageForm');\n        const responseDiv = document.getElementById('response');\n        \n        form.addEventListener('submit', async (e) => {\n            e.preventDefault();\n            \n            const formData = new FormData(form);\n            const data = {\n                to: formData.get('to'),\n                body: formData.get('body')\n            };\n            \n            // Disable button\n            const button = form.querySelector('button');\n            const originalText = button.textContent;\n            button.textContent = '⏳ Sending...';\n            button.disabled = true;\n            \n            try {\n                const response = await fetch('https://flow.advery.one/webhook/b61fe911-e9fc-4a96-a55d-8ae2f81023be', {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json'\n                    },\n                    body: JSON.stringify(data)\n                });\n                \n                const result = await response.json();\n                \n                if (result.success) {\n                    responseDiv.className = 'response success';\n                    responseDiv.innerHTML = `\n                        ✅ <strong>Message queued!</strong><br>\n                        Message ID: ${result.messageId}<br>\n                        Queue length: ${result.queueLength}\n                    `;\n                    responseDiv.style.display = 'block';\n                    \n                    // Clear form\n                    form.reset();\n                } else {\n                    throw new Error(result.error || 'Unknown error');\n                }\n            } catch (error) {\n                responseDiv.className = 'response error';\n                responseDiv.innerHTML = `❌ <strong>Error:</strong> ${error.message}`;\n                responseDiv.style.display = 'block';\n            } finally {\n                button.textContent = originalText;\n                button.disabled = false;\n            }\n        });\n    </script>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    htmlContent: html\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, -100],
      "id": "generate-html",
      "name": "Generate HTML Form"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.htmlContent }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [600, -100],
      "id": "respond-html",
      "name": "Respond with HTML"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'This endpoint only accepts GET requests. Use POST to queue messages.' } }}",
        "options": {
          "responseCode": 405
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [600, 100],
      "id": "respond-error",
      "name": "Method Not Allowed"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GET or POST?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET or POST?": {
      "main": [
        [
          {
            "node": "Generate HTML Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Method Not Allowed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Form": {
      "main": [
        [
          {
            "node": "Respond with HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
