n8n-workflows/12-web-form-with-media.json
{
  "name": "WhatsApp Web Form (with Media)",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp-send-ui",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook",
      "name": "Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-get",
              "leftValue": "={{ $json.method }}",
              "rightValue": "GET",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [200, 0],
      "id": "check-method",
      "name": "GET or POST?"
    },
    {
      "parameters": {
        "jsCode": "// Return HTML form with file upload support\nconst html = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Send WhatsApp Message</title>\n    <style>\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            min-height: 100vh;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            padding: 20px;\n        }\n        .container {\n            background: white;\n            border-radius: 20px;\n            box-shadow: 0 20px 60px rgba(0,0,0,0.3);\n            padding: 40px;\n            max-width: 500px;\n            width: 100%;\n        }\n        h1 {\n            color: #333;\n            margin-bottom: 10px;\n            font-size: 28px;\n        }\n        .subtitle {\n            color: #666;\n            margin-bottom: 30px;\n            font-size: 14px;\n        }\n        .form-group {\n            margin-bottom: 20px;\n        }\n        label {\n            display: block;\n            color: #555;\n            font-weight: 600;\n            margin-bottom: 8px;\n            font-size: 14px;\n        }\n        input, textarea {\n            width: 100%;\n            padding: 12px 16px;\n            border: 2px solid #e0e0e0;\n            border-radius: 10px;\n            font-size: 16px;\n            transition: border-color 0.3s;\n            font-family: inherit;\n        }\n        input:focus, textarea:focus {\n            outline: none;\n            border-color: #667eea;\n        }\n        textarea {\n            resize: vertical;\n            min-height: 100px;\n        }\n        input[type=\"file\"] {\n            padding: 10px;\n            cursor: pointer;\n        }\n        button {\n            width: 100%;\n            padding: 14px;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            border: none;\n            border-radius: 10px;\n            font-size: 16px;\n            font-weight: 600;\n            cursor: pointer;\n            transition: transform 0.2s, box-shadow 0.2s;\n        }\n        button:hover:not(:disabled) {\n            transform: translateY(-2px);\n            box-shadow: 0 10px 25px rgba(102, 126, 234, 0.4);\n        }\n        button:active {\n            transform: translateY(0);\n        }\n        button:disabled {\n            opacity: 0.6;\n            cursor: not-allowed;\n        }\n        .response {\n            margin-top: 20px;\n            padding: 16px;\n            border-radius: 10px;\n            display: none;\n        }\n        .response.success {\n            background: #d4edda;\n            color: #155724;\n            border: 1px solid #c3e6cb;\n        }\n        .response.error {\n            background: #f8d7da;\n            color: #721c24;\n            border: 1px solid #f5c6cb;\n        }\n        .emoji {\n            font-size: 48px;\n            text-align: center;\n            margin-bottom: 20px;\n        }\n        .hint {\n            font-size: 12px;\n            color: #999;\n            margin-top: 6px;\n        }\n        .file-info {\n            font-size: 12px;\n            color: #666;\n            margin-top: 8px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"emoji\">💬</div>\n        <h1>Send WhatsApp Message</h1>\n        <p class=\"subtitle\">Queue a message with optional media</p>\n        \n        <form id=\"messageForm\">\n            <div class=\"form-group\">\n                <label for=\"phone\">Phone Number *</label>\n                <input \n                    type=\"tel\" \n                    id=\"phone\" \n                    name=\"to\" \n                    placeholder=\"+49 1578 3160603\" \n                    required\n                >\n                <div class=\"hint\">Include country code (e.g., +49 for Germany)</div>\n            </div>\n            \n            <div class=\"form-group\">\n                <label for=\"message\">Message</label>\n                <textarea \n                    id=\"message\" \n                    name=\"body\" \n                    placeholder=\"Type your message (or leave empty if sending media only)...\"\n                ></textarea>\n                <div class=\"hint\">Optional if you're sending a file</div>\n            </div>\n            \n            <div class=\"form-group\">\n                <label for=\"file\">Media File (Optional)</label>\n                <input \n                    type=\"file\" \n                    id=\"file\" \n                    name=\"file\" \n                    accept=\"image/*,video/*,audio/*,.pdf,.doc,.docx\"\n                >\n                <div class=\"hint\">Images, videos, audio, documents (max ~16MB)</div>\n                <div class=\"file-info\" id=\"fileInfo\"></div>\n            </div>\n            \n            <button type=\"submit\">📤 Send Message</button>\n        </form>\n        \n        <div class=\"response\" id=\"response\"></div>\n    </div>\n    \n    <script>\n        const form = document.getElementById('messageForm');\n        const responseDiv = document.getElementById('response');\n        const fileInput = document.getElementById('file');\n        const fileInfo = document.getElementById('fileInfo');\n        const messageInput = document.getElementById('message');\n        \n        // Show file info when selected\n        fileInput.addEventListener('change', (e) => {\n            const file = e.target.files[0];\n            if (file) {\n                const sizeMB = (file.size / 1024 / 1024).toFixed(2);\n                fileInfo.textContent = \\`Selected: \\${file.name} (\\${sizeMB} MB)\\`;\n                \n                // Update message placeholder\n                if (!messageInput.value) {\n                    messageInput.placeholder = 'Caption for your file (optional)...';\n                }\n            } else {\n                fileInfo.textContent = '';\n                messageInput.placeholder = 'Type your message (or leave empty if sending media only)...';\n            }\n        });\n        \n        form.addEventListener('submit', async (e) => {\n            e.preventDefault();\n            \n            const formData = new FormData(form);\n            const to = formData.get('to');\n            const body = formData.get('body');\n            const file = formData.get('file');\n            \n            // Validate: need either message or file\n            if (!body && !file) {\n                alert('Please enter a message or select a file to send.');\n                return;\n            }\n            \n            const button = form.querySelector('button');\n            const originalText = button.textContent;\n            button.textContent = file ? '⏳ Uploading...' : '⏳ Sending...';\n            button.disabled = true;\n            \n            try {\n                let data = { to, body };\n                \n                // If file is selected, convert to base64\n                if (file && file.size > 0) {\n                    const base64 = await fileToBase64(file);\n                    data.media = {\n                        data: base64,\n                        mimetype: file.type || 'application/octet-stream',\n                        filename: file.name\n                    };\n                }\n                \n                const response = await fetch('https://flow.advery.one/webhook/b61fe911-e9fc-4a96-a55d-8ae2f81023be', {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json'\n                    },\n                    body: JSON.stringify(data)\n                });\n                \n                const result = await response.json();\n                \n                if (result.success) {\n                    responseDiv.className = 'response success';\n                    let msg = \\`✅ <strong>Message queued!</strong><br>\\`;\n                    msg += \\`Message ID: \\${result.messageId}<br>\\`;\n                    msg += \\`Queue length: \\${result.queueLength}\\`;\n                    if (result.hasMedia) {\n                        msg += \\`<br>📎 Media attached\\`;\n                    }\n                    responseDiv.innerHTML = msg;\n                    responseDiv.style.display = 'block';\n                    \n                    form.reset();\n                    fileInfo.textContent = '';\n                } else {\n                    throw new Error(result.error || 'Unknown error');\n                }\n            } catch (error) {\n                responseDiv.className = 'response error';\n                responseDiv.innerHTML = \\`❌ <strong>Error:</strong> \\${error.message}\\`;\n                responseDiv.style.display = 'block';\n            } finally {\n                button.textContent = originalText;\n                button.disabled = false;\n            }\n        });\n        \n        // Convert file to base64\n        function fileToBase64(file) {\n            return new Promise((resolve, reject) => {\n                const reader = new FileReader();\n                reader.readAsDataURL(file);\n                reader.onload = () => {\n                    // Remove data:image/jpeg;base64, prefix\n                    const base64 = reader.result.split(',')[1];\n                    resolve(base64);\n                };\n                reader.onerror = error => reject(error);\n            });\n        }\n    </script>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    htmlContent: html\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, -100],
      "id": "generate-html",
      "name": "Generate HTML Form"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.htmlContent }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [600, -100],
      "id": "respond-html",
      "name": "Respond with HTML"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'Method not allowed. GET to view form, POST to submit is handled client-side.' } }}",
        "options": {
          "responseCode": 405
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [600, 100],
      "id": "respond-error",
      "name": "Method Not Allowed"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GET or POST?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET or POST?": {
      "main": [
        [
          {
            "node": "Generate HTML Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Method Not Allowed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Form": {
      "main": [
        [
          {
            "node": "Respond with HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
